name = "qemu-rv32-virt"
target = "riscv32imac-unknown-none-elf"
board = "qemu-rv32-virt"
chip = "../../chips/qemu-rv32-virt"
stacksize = 1024

[kernel]
name = "qemu-rv32-virt"
requires = {flash = 32768, ram = 8192}
features = ["klog-semihosting"]

[tasks.jefe]
name = "task-jefe"
priority = 0
max-sizes = {flash = 16384, ram = 2048}
start = true
stacksize = 1024
notifications = ["fault", "timer"]

[tasks.uart]
name = "drv-ns16550-uart"
priority = 3
max-sizes = {flash = 8192, ram = 1024}
stacksize = 512
start = true
uses = ["uart0"]
extern-regions = ["uart0"]
notifications = ["uart-irq"]
interrupts = {"uart0.irq" = "uart-irq"}

[tasks.hello]
name = "task-hello"
priority = 4
max-sizes = {flash = 4096, ram = 1024}
stacksize = 512
start = true
task-slots = ["uart"]

[tasks.idle]
name = "task-idle"
priority = 5
max-sizes = {flash = 256, ram = 256}
stacksize = 256
start = true
